<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <a>
        <img src="assets/image/casey-horner-4rDCa5hBlCs-unsplash.jpg" alt= "logo" style="width:40px;">
    </a>

    <!-- <div [style.background]="'url(assets/image/' + casey-horner-4rDCa5hBlCs-unsplash.jpg + ')'"></div> -->

<!-- Links -->
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/search">Search and Delete</a>
    </li>
  </ul>
</nav>
<br>

<a>
    <img src="assets/image/casey-horner-4rDCa5hBlCs-unsplash.jpg" alt= "logo" style="width:800px;">
</a>





</body>
</html>
